<div class="login">
  <div class="login__form">
    <button type="button" class="login-facebook-btn btn btn-default btn-block"
            (click)="loginFacebookSubmit()">
      Facebook
    </button>
    <button class="login-google-btn btn btn-default btn-block"
            (click)="loginGoogleSubmit()">
      Google
    </button>
    <hr class="or">
    <form id="loginForm" role="form" [formGroup]="loginForm" (ngSubmit)="loginSubmit()">
      <div class="form-group">
        <label class="control-label" for="loginFormEmail">Email</label>
        <input type="text" id="loginFormEmail" class="form-control" required
               formControlName="email">
        <div *ngIf="email.dirty && !email.valid">
          <div class="alert alert-danger" role="alert" [hidden]="!email.errors.minlength">
            Email field must have more then 8 characters
          </div>
          <div class="alert alert-danger" role="alert" [hidden]="email.errors.minlength && !email.errors.isEmail">
            Email not valid
          </div>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label" for="loginFormPassword">Password</label>
        <input type="password" id="loginFormPassword" class="form-control" required
               formControlName="password">
        <div *ngIf="password.dirty && !password.valid">
          <div class="alert alert-danger" role="alert" [hidden]="!password.errors.minlength">
            Password field must have more then 8 characters
          </div>
          <div class="alert alert-danger" role="alert" [hidden]="!password.errors.maxlength">
            Password field must have no more then 30 characters
          </div>
          <div class="alert alert-danger" role="alert"
               [hidden]="password.errors.minlength && !password.errors.isPassword">
            Password must meet the following rules:
            <ul>
              <li>At least one upper case english letter</li>
              <li>At least one lower case english letter</li>
              <li>At least one digit</li>
              <li>At least one special character</li>
            </ul>
          </div>
        </div>
      </div>
      <p>If not register go to <a routerLink="/signup">signup</a>.</p>
      <p>If you forgot your password you can <a type="router" routerLink="/forgot">reset it</a>.</p>
      <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!loginForm.valid">Login</button>
      </div>
    </form>
  </div>
</div>