@import "styles/variables";
@import "styles/fonts";

@import "styles/ui-toastr/toastr";

@import "styles/mixin/truncate";
@import "styles/mixin/shadow";
@import "styles/mixin/clearfix";
@import "styles/mixin/position";
@import "styles/mixin/flex";

@import "app/app.component";
@import "app/landing/landing.component";
@import "app/login/login.component";
@import "app/signup/signup.component";
@import "app/signup/signup-local.component";
@import "app/signup/signup-external.component";
@import "app/auth/google.component";
@import "app/auth/facebook.component";
@import "app/verify/verify.component";
@import "app/forgot/forgot.component";
@import "app/reset/reset.component";

@import "app/dashboard/dashboard.component";

html, body {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

article, p, a, span {
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Merriweather", Georgia, Palatino, serif;
}