<div class="verify">
  <div class="verify__form">
    <div class="verify__content">
      <button type="button" class="btn btn-default btn-block" routerLink="/dashboard">Back to Dashboard</button>
      <hr>
      <form id="verifyEmailForm" role="form" [formGroup]="verifyEmailForm" (ngSubmit)="verifyEmailSubmit()">
        <div class="form-group">
          <label class="control-label" for="verifyEmailFormToken">Token</label>
          <input type="text" id="verifyEmailFormToken" class="form-control"
                 formControlName="token">
          <div *ngIf="token.dirty && !token.valid">
            <div class="alert alert-danger" role="alert" [hidden]="!token.errors.minlength">
              Token must contain 8 characters
            </div>
            <div class="alert alert-danger" role="alert" [hidden]="!token.errors.maxlength">
              Token must contain 8 characters
            </div>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary btn-block" [disabled]="!verifyEmailForm.valid">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>